/* see main.js on how to activate this... or do it in the console. the fuck do i care. */

body {
	font-family: monospace; 
	
	text-align: center;
	color: #00FF00;
	background-color: #2f2f2f;
}

header {
	height: 4em;
	
	margin: 3.5em auto 1em auto;
}

footer {
	height: 1.5em;
	margin: auto auto 1em auto;
}


/* Yay links! */
a {
	color: #00FF00;
	text-decoration: none;
}


#title {
	margin-bottom: 1px;
}

#subtitle {
	margin-top: 1px;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.material-icons.custom {
	font-size: 0.75em;
}