/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2B2D42;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2em; 

  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: .75fr 1fr; 
  grid-template-rows: 1fr .25fr; 
  grid-template-areas: 
    "Profile Bio"
    "Socials Bio";
  
  background-color: #8D99AE;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -5px;
}

#profile {
  grid-area: Profile;
  border: 1px solid black;
  filter: grayscale();
}

#name {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 2em;
}

#bio {
  grid-area: Bio;
}

#socials {
  grid-area: Socials;
  align-self: start;
  margin-top: 1em;
  width: 128px;

  display: flex;
  justify-content: space-between;
  
}

@media only screen and (max-width: 700px) {
  main {
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: .75fr 1fr .33fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Profile Profile"
      "Bio Bio"
      "Socials Socials";
  }

  #socials {
    align-self: end;
  }
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 2px solid black;
  outline-offset: 2px;
}

#socials > a {
  color: black;
  text-decoration: none;
}

.gray {
  color: #444;
}